/* Navbar styles */

.Navbar {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #FF201F;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.navContainer {
    width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navContainer .navAdres p {
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    color: #FFFFFF;
}

.navContainer .navTelRegion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.navContainer .navTelRegion p {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #FFFFFF;

}

.navContainer .navTelRegion p span {
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    color: #FFFFFF;
}

.navContainer .navTelRegion select {
    border: none;
    background: transparent;
    outline: none;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;

}

.navContainer .navTelRegion select option {
    border: none;
    background: transparent;
    outline: none;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    background-color: black;
}

/* Header styles */

.Header {
    position: relative;
    width: 100%;
    height: 95px;
    -webkit-box-shadow: 0px 10px 54px -17px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 10px 54px -17px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 10px 54px -17px rgba(34, 60, 80, 0.2);
    position: fixed;
    top: 0;
}
.fakeHeader{
    width: 100%;
    height: 95px;
    background-color: #FFFFFF;

}

.Header .headerConpanents {
    position: relative;
    width: 100%;
    height: 55px;
    background-color: #FFFFFF;
    z-index: 99;
}

.headerConpanents .headerContainer {
    width: 1240px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 0 auto;
}

.Header .headerConpanents .userProductsinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Header .headerConpanents .userProductsinfo .userInfoProduct {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    cursor: pointer;
    border-radius: 2px;
    padding: 7px 12px;
    transition: all 0.4s ease;
}

.Header .headerConpanents .userProductsinfo .userInfoProduct:hover {
    background-color: #928e8e25;
    transition: all 0.4s ease;
}

.Header .headerConpanents .userProductsinfo .userInfoProduct p {
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    color: #000000;
}

/* KategoriBtn styles */

.KategoriBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 139px;
    height: 35px;
    background-color: #E81D1C;
    cursor: pointer;
    transition: all 0.4s ease;
}

.KategoriBtn:active {
    scale: 70%;
    transition: all 0.4s ease;

}

.KategoriBtn p {
    font-size: 15px;
    font-weight: 500;
    line-height: 17px;
    color: #FFFFFF;
}

/* Search styles */


.Search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    width: 396px;
    height: 35px;
    border: 1px solid #ACACAC;

}

.Search input {
    border: none;
    outline: none;
    margin-left: 10px;
    width: 100%;
}

.Search .serarchIcon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 67px;
    height: 35px;
    background: #E81D1C;

}

/* Category style  */

.Category {
    width: 100%;
    height: 490px;
    background: #ffffff;
    position: absolute;
    top: 95px;
    opacity: 1;
    z-index: 50;
    transition: all 0.4s ease;
    padding: 15px;
}

.noneCategory {
    width: 100%;
    height: 466px;
    background: #ffffff;
    position: absolute;
    top: -490px;
    opacity: 1;
    transition: all 0.4s ease;
    padding: 15px;
}

.categoryContainer {
    width: 1240px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.categoryContainer .categoryNames {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    height: 420px;
    overflow-y: scroll;
}

.categoryContainer .categoryNames .categoryName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 231px;
    height: 32px;
    background: #ffffff;
    padding: 19px 10px;
    transition: all 0.4s ease;
    cursor: pointer;
    color: #666363;
        border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.categoryContainer .categoryNames .categoryName:hover {
    background: #E81D1C;
    transition: all 0.4s ease;
    color: #ffffff;
    fill: #ffffff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.categoryContainer .categoryNames .categoryName .categoryNameIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

::-webkit-scrollbar {
    width: 0;
}

.categoryInfos {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 900px;
    gap: 40px;
    gap: 10px;
    overflow-y: scroll;
    height: 400px;

}

.categoryInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 20px;
    margin-top: -1px;
    gap: 5px;
}

.categoryInfo p {
    font-size: 16px;
    font-weight: 700;
    line-height: 17px;
    color: #000000;
}

.categoryInfo span {
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    color: #666363;
}