.Home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
}

.Banners{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 344px;
    border-radius: 20px;
}

.allBox {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Boxes {
    width: 289px;
    height: 125px;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    z-index: 9;
    align-items: center;
    background: rgb(96, 178, 255);
    background: linear-gradient(0deg, rgba(41, 90, 185, 1) 0%, rgba(96, 178, 255, 1) 100%);
}



.boxName {
    font-size: 20px;
    font-weight: 700;
    line-height: 33px;
    color: #FFFFFF;

}

.brendContainer {
    position: absolute;
    width: 100%;
    background-color: #E81D1C;
    height: 248px;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

}

.allCarusalLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}


.LogosCarusel {
    width: 100%;
    height: 248px;
    margin: 50px auto;
}


.brandLogo {
    width: 150px;
    height: 112px;
    border-radius: 10px;

    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brandLogo img {
    width: 77px;
    height: 60px;

}

.swiper-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.userInfoProduct img{
    width: 20px!important;
}
.AksesuarName {
    width: 100%;
    margin: 40px auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

}

.AksesuarName span {
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
}

.AksesuarImg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 50px auto;
}

.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
@media screen and (min-width: 1201px) {
    .Home{
        width: 100%;
    }
}
@media screen and (max-width : 414px) and (min-width: 360px) {
    .carousel {
        width: 100%;
        height: auto;
        border-radius: 20px;
        margin-top: 20px;
    }

    .carousel-item img {
        height: 190px;
        border-radius: 10px;
    }

    .Boxes {
        width: 100%;
        height: 120px;
        border-radius: 12px;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        z-index: 9;
        margin-top: -50px;
        align-items: center;
        background: rgb(96, 178, 255);
        background: linear-gradient(0deg, rgba(41, 90, 185, 1) 0%, rgba(96, 178, 255, 1) 100%);
    }

    .Boxes img {
        width: 130px;
        margin-right: -10px;
        z-index: 1;
    }
}