  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container{
    width: 1240px;
    margin: 0 auto;
}