  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

  * {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none !important;
  }
  .App{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container {
    width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  body {
    width: 100vw;
    height: 100vh;
  }

  .none {
    display: none;
  }

  p {
    margin: 0;
  }

  .Error {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width : 414px) and (min-width: 360px) {
    * {
      max-width: 100%;
    }

    .container {
      width: 100%;
    }
  }