.blockPage {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgba(128, 128, 128, 0.337);
    backdrop-filter: blur(5px);
}

.Register {
    width: 459px;
    height: auto;
    padding: 15px 0px;
    border-radius: 5px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.Register h1 {
    font-size: 21px;
    font-weight: 700;
    line-height: 27px;
    color: #000000;

}

.inputsFrom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

.inputFrom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

}

.inputFrom label {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 15px;
    color: #000000;

}

.registerInput {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 303px;
    height: 42px;
    border: 1px solid #C1C1C1;
    padding: 15px;
}

.registerInput i {
    border-right: 1px solid #C1C1C1;
    padding-right: 10px;
}

.registerInput input {
    border: none;
    outline: none;
    width: 100%;
}

hr {
    width: 100%;
}

.Register button {
    width: 303px;
    height: 42px;
    background: #E81D1C;
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    color: #FFFFFF;
    border: none;
}

.loginAddPageText {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.loginAddPageText span {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: #4580D8;
    cursor: pointer;
}

.fa-x {
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
}

.verify {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.verify input {
    width: 230px !important;
    border: none;
    outline: none;
}

.verifyINput {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #C1C1C1;
    padding: 9px 20px;
    gap: 4px;
}

.verifyINput i {
    border-right: #C1C1C1 2px solid;
    padding-right: 10px;
}

.verify h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.verify p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Kabinet {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 90px auto;
    gap: 90px;
}

.KabinetPages {
    width: 270px;
    height: 156px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 0px #0000001A;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 18px 22px;
}

.pagesText {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: all 0.4s ease;
}

.pagesText p {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.pagesText i {
    font-size: 19px;
}

.KabinetInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
}

.blockInputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
}

.blockInputs h1 {
    height: 31px;
    font-size: 26px;
    font-weight: 600;
    line-height: 31px;

}

.lnputs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 560px;
}

.lnputs p {
    height: 19px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.allWidth {
    width: 560px;
    height: 50px;
    border-radius: 3px;
    border: 1px solid #BCBCBC;
    outline: none;
    padding-left: 20px;
    margin-top: 10px;
}

.smallWidth {
    width: 270px;
    height: 50px;
    border-radius: 3px;
    border: 1px solid #BCBCBC;
    margin-top: 10px;
    padding-left: 20px;
}